.divComponentes {
  display: flex;
  align-items: center;
  width: 100%;
}

.tamanhoIcone {
  width: 40%;
}

.tamanhoTexto {
  width: 60%;
}

.texto {
  display: flex;
  flex-direction: column;
}

.divLinhaPainel {
  display: flex;
  justify-content: center;
  width: 100%!important;
  padding-top: 3rem;
  overflow: auto;
}

.cardPainel {
  min-width: 162px;
  max-width: 200px;
}
