table {
  width: 50%;
  @media screen and (max-width: 1650px) {
    width: 100%;
  }
}

.cabecalho{
  padding-bottom: 30px;
}

.dadosCartoes{
  padding: 30px;
}


::ng-deep .campoFiltro {
  .mat-form-field-wrapper {
    padding: 0;
  }
}

.widthCabecalho {
  width: 50%;
  overflow: auto;
  max-width: 100%;
  min-width: 600px;
  @media screen and (max-width: 1650px) {
    width: 100%;
  }
}

.widthFiltros {
  width: 90%;
  @media screen and (max-width: 1650px) {
    width: 100%;
  }
}
